@import "../../scss/global";

.movie-carousel {
    width       : calc(100% + 2em);
    margin-left : -1em;
    
    .movie-item {
        background  : black;

        &.center {
            top         : -2em;
            position    : relative;
            box-shadow  : 0 0 1em rgba(0,0,0,0.5);
            z-index     : 3000;
        }

        & img {
            opacity     : 0.5;
        }

        &.center img {
            opacity     : 1;
        }

        &:hover .description {
            bottom      : -100%;
        }


        .forward,
        .backward {
            position    : absolute;
            top         : 50%;
            transform   : translate(0, -50%);
            z-index     : 5000;
            background  : $light;
            padding     : 1em;
            opacity     : 0.3;
            color       : $dark;
            font-size   : 2em;
            cursor      : pointer;
        }

        .forward:hover,
        .backward:hover {
            opacity     : 0.9;
        }

        .forward {
            left        : 0;
        }

        .backward {
            right       : 0;
        }
    }

}
