.site-title {
    padding: 4em 3em 5em 3em;
    
    h1 {
        display: none;
    } 
    
    img,
    span {
        display: block;
    }
    
    span {
        font-size: 1em;
        opacity: 0.2; 
        margin-top: 1em;
    }
}
