.movie-page {
    overflow: hidden;

    .movie-page-wrapper {
        width       : 140%;
        margin-left : -40%;
        transition  : all 0.5s ease;
    }

    .movie-poster,
    .movie-description {
        position    : relative;
        transition  : all 0.5s ease;
        left        : 0%;
    }

    .movie-poster:hover,
    .movie-poster:hover + .movie-description {
        left        : 28.568%;
    }

    .loading {
        padding: 3em;
    }
}
