@import "../../scss/global";

.footer {
    margin-top  : 2em;
    background  : $accent;
    padding     : 5em 3em;
    color       : $light;

    span {
        display : block;
        text-align  : center;
        line-height : 2em;
    }
}
